/* Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #f4f4f4;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Estilos gerais */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.header.blur {
  backdrop-filter: blur(50px); /* Aplica o efeito de desfoque */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.logo a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

/* Menu Hamburger */
.hamburger-menu {
  display: none;
  flex-direction: column;
  gap: 5px;
  border: none;
  background: none;
  cursor: pointer;
}

.hamburger-menu span {
  display: block;
  width: 25px;
  height: 3px;
  background: #fff;
  transition: 0.3s;
}

/* Responsividade */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* Oculta os links no layout mobile */
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    padding: 15px 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 250px;
    text-align: center;
  }

  .nav-links.active {
    display: flex; /* Exibe os links ao ativar o menu */
  }

  .hamburger-menu {
    display: flex; /* Exibe o botão de menu no layout mobile */
  }

  /* Animação do menu */
  .hamburger-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger-menu.active span:nth-child(2) {
    opacity: 0; /* Oculta a linha do meio */
  }

  .hamburger-menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
}


/* Hero Section */
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.overlay {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 4;
}

.background-overlay,
.background-overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ajusta para 100% da largura */
  height: 100%;
  background-size: 105%; /* Um pouco maior para permitir o movimento horizontal */
  background-position: 0% center; /* Começa à esquerda */
  background-repeat: no-repeat;
  transition: opacity 2s ease-in-out;
  z-index: 1;
  animation: moveHorizontally 15s linear infinite; /* Mantém o movimento suave */
}

.background-overlay {
  z-index: 2;
  opacity: 1;
}

.background-overlay2 {
  z-index: 1;
  opacity: 0;
}

@keyframes moveHorizontally {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

.hero h1 {
  font-size: 3rem;
  margin: 20px 0;
}

.hero .slogan {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.hero .cta-button {
  display: inline-block;
  background: #A7382B;
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.hero .cta-button:hover {
  background: #6b1f16;
}



/* Responsividade para Tablets */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem; /* Reduz o tamanho do título */
  }

  .hero .slogan {
    font-size: 1.2rem; /* Ajusta o tamanho do slogan */
  }

  .hero .cta-button {
    font-size: 1rem; /* Reduz o tamanho do botão */
    padding: 12px 16px; /* Ajusta o padding do botão */
  }

  .background-overlay,
  .background-overlay2 {
    background-size: cover; /* Ajusta a imagem para cobrir toda a área */
  }
}

/* Responsividade para Celulares */
@media (max-width: 480px) {
  .hero h1 {
    font-size: 2rem; /* Título menor para caber na tela */
  }

  .hero .slogan {
    font-size: 1rem; /* Ajusta o slogan */
  }

  .hero .cta-button {
    font-size: 0.9rem; /* Botão menor para telas pequenas */
    padding: 10px 14px; /* Reduz o padding do botão */
  }

  .hero-content {
    padding: 0 10px; /* Adiciona espaçamento lateral para evitar que o texto fique colado nas bordas */
  }
}



/* About Section */
.about {
  padding: 50px 20px;
  background: #f9f9f9;
  text-align: center;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
}

/* Grid Layout */
.about-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-items: stretch;
  align-items: stretch;
}



/* Card Styling */
.card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  min-height: 250px;
  width: 100%; /* Add this */
  max-width: 100%; /* Add this */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Icon Styling */
.card i {
  font-size: 3rem; 
  color: #007bff;
  margin-bottom: 15px;
}

/* Title Styling */
.card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

/* Text Styling */
.card p {
  font-size: 1rem;
  color: #555;
  margin: 0;
}

@media (max-width: 768px) {
  .about-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .about {
    padding: 30px 30px;
  }
  .about h2 {
    font-size: 1.4rem;
  }
  .card {
    min-height: 200px;
    max-height: 200px;
  }
  .card i {
    font-size: 2.5rem;
  }
  .card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .about-grid {
    grid-template-columns: 1fr;
  }
}


/* Info Section */
.info-section {
  padding: 50px 0;
  background: #fff;
}

.info-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.info-image {
  height: 100%;
}

.info-image img {
  width: 100%;
  max-width: 400px;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.info-text {
  flex: 1;
}

.info-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.info-text p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 15px;
}

.info-text .cta {
  display: inline-block;
  background: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.info-text .cta:hover {
  background: #0056b3;
}

@media (max-width: 768px) {

  .info-section {
    padding: 60px 30px;
  }

  .info-container {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .info-text p {
    text-align: start;
  }
  .info-text h2 {
    font-size: 1.4rem;
  }

  .info-image img {
    max-width: 100%;
    
  }

  .info-text .cta {
    width: 100%;
    margin-top: 20px;
  }
}


/* Testimonials */
/* Testimonials Section */
.testimonials {
  background: #f4f4f4;
  padding: 50px 0;
}

.testimonials h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
  color: #333;
}

/* Testimonials Grid */
.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
}

/* Testimonial Card */
.testimonial-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* User Icon */
.testimonial-card i {
  font-size: 3rem;
  color: #007bff;
  margin-bottom: 15px;
}

/* Stars */
.stars {
  margin-bottom: 15px;
}

.stars i {
  font-size: 1.5rem;
  color: #ffd700; /* Amarelo das estrelas */
  margin-right: 2px;
}

/* Text */
.testimonial-card p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.testimonial-card span {
  font-size: 0.9rem;
  color: #777;
}

@media (max-width: 768px) {
  .testimonials-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .testimonials {
    padding: 30px 30px;
  }

  .testimonials h2 {
    font-size: 1.4rem;
  }

  .testimonial-card i {
    font-size: 2.5rem;
  }

  .stars i {
    font-size: 1.2rem;
  }

  .testimonial-card p {
    font-size: 0.9rem;
  }

  .testimonial-card {
    min-height: 250px;
    justify-content: center;
    padding: 00px 20px;
  }

  .testimonials-grid {
    grid-template-columns: 1fr;
  }
}

/* Nossos Trabalhos */
.works {
  padding: 50px 20px;
  background: #f9f9f9;
  text-align: center;
}

.text-works {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #555;
  text-align: start;
  width: 60%;
  margin: 0 auto;
}

.container-works {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.works h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #333;
}

.works p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #555;
}

/* Carrossel */
.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  height: 400px;
}

.carousel-images {
  display: flex;
  transition: transform 1.5s ease-in-out;
  height: 100%;
}

.carousel-images img {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
}

/* Botões do carrossel */
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  z-index: 2;
  border-radius: 5px;
  font-size: 1.5rem;
  transition: background 0.3s ease;
}

.carousel-btn:hover {
  background: rgba(0, 0, 0, 0.7);
}

.carousel-btn.prev {
  left: 10px;
}

.carousel-btn.next {
  right: 10px;
}

/* Indicadores */
.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.carousel-indicators span {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.carousel-indicators span.active {
  background: #007bff;
}

@media (max-width: 768px) {
  .carousel {
    height: 300px;
  }
  .carousel-btn {
    font-size: 1.2rem;
  }
  .carousel-indicators span {
    width: 8px;
    height: 8px;
  }
  .text-works {
    width: 100%;
  }
  .container-works {
    flex-direction: column;
    gap: 20px;
  }
  .text-works h2 {
    font-size: 1.4rem;
  }
  .text-works p {
    font-size: 1rem;
  }
}


/* Contact */
/* Contact Section */
.contact {
  padding: 50px 0;
  background: #f4f4f4;
}

.container-contact {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}

.contact-form, .contact-location {
  flex: 1;
  min-width: 300px;
}

.contact-form h2, .contact-location h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

/* Form Styling */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #007bff;
}

button.cta {
  background: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button.cta:hover {
  background: #0056b3;
}

/* Location Styling */
.contact-location p {
  margin-bottom: 10px;
  color: #555;
}

iframe {
  border-radius: 10px;
}

@media (max-width: 768px) {
  .contact {
    padding: 30px 20px;
  }
  .container-contact {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;

  }
  .contact-form, .contact-location {
    width: 100%;
    max-width: 400px;
  }
  .contact-form h2, .contact-location h2 {
    font-size: 1.4rem;
  }
  .contact-form form {
    gap: 10px;
  }
  .contact-location iframe {
    height: 200px;
  }
  
}


/* Footer */
.footer {
  background: #333; /* Fundo escuro */
  color: #fff; /* Texto branco */
  padding: 20px 0;
  text-align: center;
}

.footer p {
  margin: 5px 0; /* Espaçamento entre as linhas */
  font-size: 0.9rem; /* Texto menor */
  color: #ccc; /* Cor do texto mais clara */
}

.footer a {
  color: #007bff; /* Azul para o link */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease; /* Suaviza a transição de hover */
}

.footer a:hover {
  color: #0056b3; /* Azul mais escuro ao passar o mouse */
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .footer {
    padding: 15px 0;
  }
  .footer p {
    font-size: 0.8rem;
  }
}